*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif ;
    padding: 90px 20px 0;
}
.nav{
    background-color: rgb(82, 37, 37);
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 10; 
}


.nav-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo{
    width: 170px;
    height: 70px;
    padding: 0 40px;
    line-height: 75px;
    border-radius: 8px;
}

.nav-menu{
    font-size: 20px;
    display: flex;
    margin-right: 60px;
    list-style: none;
}

.nav-menu-intem{
    font-size: 40px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 10px 12px;
    border-radius: 4px;
    color: aliceblue;
  
}

.nav-menu-link:hover{
    color: goldenrod;
    transition: 0.5s;
    display: flex;
}

.buscar{
    padding: 5px;
    position: absolute;
    top: 25px;
    left: 910px;
    transform: translate(-50%, -50%);
}

.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #802626;
    outline: none;
    border: 1px solid rgb(177, 154, 154);
    border-radius: 30px;
    transition: all 7 ease;
}

.btn{
    position: absolute;
    top: 10;
    right: 0;
    background: #641212;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: rgb(252, 249, 244);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input{
    width: 240px;
}
.buscar input:focus{
    width: 240px;
}


.body_page{
    font-family: sans-serif ;
    padding: 90px 20px 0;
}

.body-carousel{
    min-height: 500px;
}

.carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 500px;
    height: 500px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}
galery{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;

}
.galery_photos{
    width: 100%;
    padding: 50px 0px;
    background-color: rgb(247, 244, 241);
    background-size: cover;
    border-radius: 10px;
    

}
.galery h1{
    background-color: rgb(82, 37, 37);
    font-family: sans-serif ;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    
}

.galery_photos img{
    width: 250px;
    max-width: 1200px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

}


.galery_photos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.photos .img{
    width: 100%;

}


footer{
    width: 100%;
    padding: 50px 0px;
    background-color: rgb(207, 202, 194);
    background-size: cover;

}.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 90px;
}



.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box_footer .logo img{
    width: 100px;
    border-radius: 6px;
}
.box_footer .terms{
    max-width: 300px;
    margin-top: 20px;
    font-weight: 500;
    color: #474747;
    font-size: 18px;
}

.box_footer h2{
    margin-bottom: 30px;
    color: #474747;
    font-weight: 700;

}

.box_footer a {
    margin-top: 10px;
    color: #474747;
    font-weight: 600;
}

.box_footer a:hover{
    opacity: 0.9;
}

.box_footer a .fab{
    font-size: 10px;

}

.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: opx 40px;

}
.box_copyright p{
    margin-top: 20px;
    color: #474747;
}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: rgb(161, 168, 175);
}








